.addr_box{padding:15px 25px;left:0px;opacity:0.9;}
.addr_box .title{padding-bottom:3px;color:#3c3c3c;margin-bottom:5px;}
.addr_box .title span{float:right;font-size:20px;line-height:20px;}
.addr_box .address{border:1px solid #eee !important;width:75% !important;  height:36px !important;}
.addr_box .sc_bnt{width:25% !important; height:36px; background-color:#E7380D;color:#fff;border:1px solid #61cebe}
.addr_box .click_box{padding:5px;border:1px solid #ddd;margin-bottom:15px;border-radius:5px;background-color:#eee;}
.addr_box .sc_box{width:100%;margin-bottom:15px;}
