.join_box{padding:15px 25px; font-size:13px;}
.join_box .form_div{border-bottom:1px solid #eee;height:40px;}
.join_box h1{font-size:19px; font-weight:500;letter-spacing:-1px;}
.join_box .name_b{width:35%;float:left;line-height:40px;color:#3e3e3e;padding-left:15px;}
.join_box input[type=text],.join_box input[type=password],.join_box input[type=file]{padding:6px 5px;border:none;border:none;width:60%;height:36px;}
.join_box .MuiInput-underline:before{border:none;}
.join_box .mem_photo{margin-bottom:10px;}
.join_box .FaArrowLeft{margin-right:10px;}
.join_box .sbname{background-color:#E7380D;color:#fff;border:none;padding:5px;font-size:17px;width:100%;border-radius:5px;margin-top:20px;}
.join_box .mem_sex label{padding:5px;line-height:40px;}
.join_box .mem_photo{display:none;}
.join_box .photo_box{text-align:center;margin-bottom:10px;}
.join_box .photo_box img{width:230px;height:230px; }
.join_box .photo_box i {color:#E7380D;}
