.mypage_box{padding:15px 25px; font-size:13px;}
.mypage_box .form_div{border-bottom:1px solid #eee;height:45px;align-items: center;}
.mypage_box h1{font-size:19px; font-weight:500;letter-spacing:-1px;}
.mypage_box .name_b{width:35%;float:left;line-height:40px;color:#3e3e3e;padding-left:15px;}
.mypage_box input[type=text],.mypage_box input[type=password],.mypage_box input[type=file]{padding:6px 5px;border:none;border:none;width:60%;height:40px;}
.mypage_box .MuiInput-underline:before{border:none;}
.mypage_box .mem_photo{margin-bottom:10px;}
.mypage_box .FaArrowLeft{margin-right:10px;}
.mypage_box .sbname{background-color:#E7380D;color:#fff;border:none;padding:5px;font-size:17px;width:100%;border-radius:5px;margin-top:20px;}
.mypage_box .mem_sex label{padding:5px;line-height:40px;}
.mypage_box .mem_photo{display:none;}
.mypage_box .photo_box{text-align:center;margin-bottom:10px;margin-top:20px;}
.mypage_box .photo_box img{width:230px;height:230px;}
