.rate_page {
    width: 100%;
    height: 100%;
    max-width: 650px;
    z-index: 300;
    padding: 10% 5%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.prev { position: absolute; top: 15px; left: 15px; i{margin-right: 3px;} }
.rate_title {
    width: 100%;
    height: 7%;
    position: relative;
    text-align: center;
    font-size: 15px;
    span {
        font-size: 20px;
        font-weight: 600;
    }
}

.rate_member {
    width: 100%;
    height: 80%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}
.rate_card {
    width: 90%;
    height: 20%;
    padding: 4% 10%;
    margin-bottom: 3%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
    color: #fff;
    border-radius: 25px;
}
.rate_card .mem_info {
    width: 100%;
    height: 80%;
    margin-left: 8%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rate_card .mem_img {
    width: 60px;
    height: 60px;
    margin-right: 10%;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    img {
       width: 100%;
       min-height: 100%;
    }
}
.rate_card .mem_data {
    width: 60%;
    height: 100%;
    padding: 5% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mem_data .mem_name {
    font-size: 15px;
    margin-bottom: 6%;
}

.mem_data .mem_rate {
    display: flex;
}
.ThumbsUp {
    margin-right: 3px;
    font-size: 18px;
}
.comment {
    width: 100%;
    input { width: 90%; height: 30px; border: none;}
}

.rate_btn {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    button {
        width: 45%;
        height: 50%;
        color: #fff;
        border: none;
        border-radius: 8px;
        font-size: 13px;
    }
    .submit {
        background-color: #FA5053;
        margin-right: 3%;
    }
    .cancel {
        background-color: #BCBCBC;
        margin-left: 3%;
    }
}


//버튼색 #FA5053