.Search_head {padding:15px;padding-top:20px;width:100%;height:auto;margin-bottom:5px;padding-bottom:20px;text-align:left;background-color:#eee;}
.Search_head .txet_box{width:100%;padding:4px 5px;font-size:15px;border:1px solid #ddd;border-radius:3px;margin-bottom:10px;}
.Search_head .txet_button{width:24%;padding:4px 5px;font-size:12px;border:1px solid #eee;border-radius:5px;margin:0 0.5%;letter-spacing:-1px;background-color:#fff;color:#E7380D;font-weight:400; text-transform: capitalize;}
.Search_head .Search_bnt{padding:8px 10px;font-size:13px;text-align:left;border:1px solid #fff;border-radius:5px;margin-bottom:15px;color:#999;cursor:pointer;background-color:#fff;box-shadow:2px 2px 4px 0px;}
.Search_head .Search_bnt span{margin-right:10px;color:#000;font-size:14px;}

.gender_select {width:24%;padding:4px 5px;text-align-last: center; font-size:12px;border:1px solid #eee;border-radius:5px;margin:0 0.5%;letter-spacing:-1px;background-color:#fff;color:#E7380D;font-weight:400; text-transform: capitalize; -webkit-appearance: none;}

