.popUpBackground {
    width: 650px;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
}

.popUpBox {
    width: 10px;
    height: 10px;
    background-color: white;
}