.login_box{
  width:100%;margin:0 auto;position:relative;height:100%;
  .login_content{
    width:85%;margin:0 auto;position:relative;padding-top:33%;color:#fff;padding-bottom:35%;text-align:center;
    .title{font-size:56px;line-height:35px;}
    .title img{width:180px;}
    p{font-size:20px;font-family: 'Gugi', cursive;text-align:center;}
  }

}
.login_bg{z-index:0;width:100%;margin:0 auto;height:100%;position:fixed; background: url("../../img/bg.png") no-repeat center center;background-size:cover;}
.login_form{margin-top:135px;letter-spacing:-1px;}
.login_form .login_txet{width:80%;margin:0px 10%;margin-bottom:7px;border:none;border-bottom:1px solid #fff;padding:3px 7px;background:none;color:#fff;font-size:16px;}
.login_form .login_submit{width:80%;margin:0px 10%;margin-bottom:1px;background-color:#10214f;padding:5px;border:none;color:#fff;font-size:16px;margin-top:10px;border-radius:20px;font-weight:200;}
.login_form .join{background-color:#e91416;}
.login_form .login_txet::placeholder{color:#eee;}
.login_form .skip_login{font-size: 13px; margin-top: 15px; color: #fff; letter-spacing: 0.5px;}
.main_content{height:100% !important; }
